<!-- /templates/404.liquid -->
<div class="banner">
  <img class="banner-img" src="{{ '404.jpg' | asset_url }}" alt="">

  <div class="wrapper">
    <div class="banner-txt banner-txt-white">
      <h1>{{ 'general.404.title' | t }}</h1>
      <p>{{ 'general.404.subtext_html' | t }}</p>
			<a href="/" class="btn btn--white btn--arrow">Go Home  <span>→</span></a>
    </div>
  </div>
</div><!-- .banner -->
