<!-- /templates/about.liquid -->
<div class="banner banner-home">
  <img class="banner-img" src="{{ 'about-header.jpg' | asset_url }}" alt="">

  <div class="wrapper">
    <div class="banner-txt">
      <h1>About Priori Skincare</h1>

      <p>Skin Decoded</p>
    </div>
  </div>
</div><!-- .banner -->

<style type="text/css">
  .banner.banner-home {
    min-height: 360px;
    height: 50vh;
  }
</style>

<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">
	<h1>{{ page.title }}</h1>

	<p style="font-size: 22px;">Initially created in 2005, PRIORI was previously available only to a limited number of elite professional skincare providers who were looking for the most advanced solutions for their patients, Dermatologists, Medical Spas and Spas.  Now, we’ve taken that cult brand, and have broadened the product line in order to provide you with these cutting-edge technologies for your personal use at home, while traveling, and at any time of day.  And, we are making PRIORI available in salons, at retail, or online, for your convenience.</p>
    <p style="font-size: 22px;">
    Our team of dedicated scientists and formulators rely on more than 100 years of experience, and they are the creators of some of the biggest breakthroughs in skin science:  AHA, LED devices, Idebenone, DNA Repair Enzymes and, most recently, Tetra, with four levels of environmental protection.  And now, Priori boasts some of the most advanced clinically proven skincare solutions you can find.</p>
	<a href="/pages/faq" class="btn btn--secondary btn--arrow">Frequently Asked Questions</a>
	<a href="mailto:info@prioriskincare.com" class="btn btn--secondary btn--arrow">Email us info@prioriskincare.com <span> &#x2709; </span></a>
	<a href="tel:+18006058564" class="btn btn--secondary btn--arrow">Call us (800) 605-8564.<span> &#128222; </span></a>

	<hr>


  </div>

</div>
