<!-- /templates/about.liquid -->
<div class="banner banner-home">
  <img class="banner-img" src="{{ 'about-header.jpg' | asset_url }}" alt="">

  <div class="wrapper">
    <div class="banner-txt">
      <h1>About Priori Skincare</h1>

      <p>Skin Decoded</p>
    </div>
  </div>
</div><!-- .banner -->

<style type="text/css">
  .banner.banner-home {
    min-height: 360px;
    height: 50vh;
  }
</style>

<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">
	<h1>{{ page.title }}</h1>

	<p class="large-txt">A founder collective: Acquired in 2017 and established in the Biotech valley of San Diego CA, Priori’s energy is driven by a group of consumer and beauty industry innovators. Meet Dawn, David, Dan, Regis and Jaime, our founders. They were involved in some of the most formidable beauty and CG industry brands. 
      Their friendship united them around a common vision:</p>
    <p class="large-txt">
    Bring biology and biotechnology advances to cosmeceuticals and natural/clean beauty to create efficient, functional and innovative products, so that women and men of any age and ethnicity can achieve their Ideal Skin.</p>
	<a href="/pages/faq" class="btn btn--secondary btn--arrow">Frequently Asked Questions</a>
	<a href="mailto:info@prioriskincare.com" class="btn btn--secondary btn--arrow">Email us priori@prioriskincare.com <span> &#x2709; </span></a>
	<a href="tel:+18006058564" class="btn btn--secondary btn--arrow">Call us (800) 605-8564.<span> &#128222; </span></a>

	<hr>


  </div>

</div>
