{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">

            {% if collection.metafields.custom_fields["technical_differentiators_of_t"] != blank %}
            <div class="custom-field custom-field__technical-differentiators-of-t custom-field__type--html">
                <h3 class="custom-field--title">Technical Differentiators of this Formula Set</h3>
                <div class="custom-field--value">{{ collection.metafields.custom_fields["technical_differentiators_of_t"] }}</div>
              </div>
            {% endif %}
</div>